{% import 'macros/form.html' as form %}

{{ form.hidden('view_type', value=resource_view.view_type) }}

{% call form.select(
    'theme',
    id='field-theme',
    label=_('Preview theme'),
    options=h.json_viewer_get_theme_options(),
    selected=data.theme,
    attrs={'data-module': 'autocomplete'},
    error=errors.theme)
%}
    {{ form.info(_('Select the theme for the JSON viewer preview.')) }}
{% endcall %}

{% call form.input(
    'max_height',
    id='field-max-height',
    label=_('Maximum height (px)'),
    value=data.max_height,
    attrs={'type': 'number', 'min': '100', 'class': 'form-control'},
    error=errors.max_height)
%}
    {{ form.info(_('Set the maximum height of the JSON viewer in pixels.')) }}
{% endcall %}
